/* @keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}


@keyframes blinks {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.eye {
}
#openEye{
animation: blink 2.4s ease-in infinite;
}
#blink{
  animation: blink 2.4s ease-in infinite;
  } */


  /* Smartphones (portrait and landscape) ----------- */


  @media (min-width: 360px) {
    .eye-animation {
      width: 175px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding: 0;
    }
    #Layer_1 {
      /* width: 150px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0%;
      padding: 0;
      position: relative;
      top: -20%; */
      display: none;
  
    }
  }
  @media (min-width: 700px) {
    .eye-animation {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding: 0;
    }
    #Layer_1 {
      width: 200px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0%;
  
    }
  }
  @media (min-width: 1000px) {
    .eye-animation {
      width: 300px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding: 0;
      position: relative;
      left: 30%;
    }
    #Layer_1 {
      width: 300px;
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0%;
      position: relative;
      left: 35%;

  
    }
  }
  @media (min-width: 1368px) {
    .eye-animation {
      width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding: 0;
      position: absolute;
      left: 40%;

    }
    #Layer_1 {
      width: 500px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0%;
      position: absolute;
      left: 40%;
      top: 30%;
  

  
    }
  }
  

